@{

    Layout = null;

}
<link href="~/css/Login.css" rel="stylesheet" />
<div class="wrapper">
    <div class="container">
        <img src="~/image/logo.png" />

        <form class="form" action="#" method="post">
            <input type="text" placeholder="Kullanıcı Adı"name="kullanici">
            <input type="password" placeholder="Şifre" name="sifre">
            <button type="submit" id="login-button">Giriş</button>
        </form>
    </div>

</div>