@model YemekHaneTakipOtomasyonu.Models.users

<form class="form-group" method="post">

    <b>Kullanıcı Adı</b>
    @Html.TextBoxFor(x => x.kullanici, new { @class = "form-control" })
    <br />
    <b>Şifre</b>
    @Html.TextBoxFor(x => x.sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kullanıcı Ekle</button>


</form>