@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!DOCTYPE html>
<html>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar  w3-bar-block" style="width:15%;height:45%;  margin-top:2%;">
        <a href="/Admin/Kullanicilar" class="w3-bar-item w3-button">Kullanıcılar</a>
        <a href="/Ogun/Ogunler" class="w3-bar-item w3-button">Öğünler</a>
        <a href="/Sirket/Sirketler" class="w3-bar-item w3-button">Şirketler</a>
        <a href="/Departman/Departmanlar" class="w3-bar-item w3-button">Departmanlar</a>
        <a href="/Bolum/Bolumler" class="w3-bar-item w3-button">Bölümler</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:20%">

        @RenderBody()

    </div>

</body>
</html>
