@model YemekHaneTakipOtomasyonu.Models.kod_bolum

<form class="form-group" method="post">

    <b>Bölüm Adı</b>
    @Html.TextBoxFor(x => x.aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Bölüm Ekle</button>


</form>