@model YemekHaneTakipOtomasyonu.Models.kod_sirket

<form class="form-group" method="post">

    <b>Şirket Adı</b>
    @Html.TextBoxFor(x => x.aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Şirket Ekle</button>


</form>