@{
    Layout = "~/Views/Shared/_LayoutDenetim.cshtml";
}

@using YemekHaneTakipOtomasyonu.Models
@model List<kod_sirket>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/Index.css" rel="stylesheet" />
<div class="container index">
    <h2>Şirketler</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Şirket Adi</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var x in Model)
                    {

                        <tr>
                            <td>@x.id</td>
                            <td>@x.aciklama</td>
                            <td><a href="/Sirket/SirketDuzenle/@x.id" class="btn btn-success">Düzenle</a></td>
                            <td><a href="/Sirket/SirketSil/@x.id" class="btn btn-danger">Sil</a></td>

                        </tr>
                    }
                    <tr>
                        <td colspan="4"><a href="/Sirket/SirketEkle" class="btn btn-info">Şirket Ekle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
