@model YemekHaneTakipOtomasyonu.Models.kod_departman

<form class="form-group" method="post">

    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Departman Ekle</button>


</form>